{% extends "base.html" %}

{% load static %}

{% block content %}

<div>
  <card id="#shopping-cart">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Item Number</th>
          <th scope="col">Product Name</th>
          <th scope="col">Qunatity</th>
          <th scope="col">Price €</th>
          <th scope="col">Total €</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Puzzle</td>
          <td>1</td>
          <td>12.99</td>
          <td>12.99</td>
        </tr>
      </tbody>
    </table>
  </card>
</div>
{% endblock %}