{% extends "base.html" %}

{% load static %}

{% load calculations %}

{% block content %}
<div class="overlay"></div>
<h1 class="text-center">Your Shopping Cart</h1>

{% if select_gifts %}
      <div class="row">
        <div class="col">
          <div id="#shopping-cart">
            <div class="table-responsive rounded">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">Gift ID</th>
                    <th scope="col"></th>
                    <th scope="col">Gift Item</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit Price €</th>
                    <th scope="col">Subtotal €</th>
                  </tr>
                </thead>
                {% for gift in select_gifts %}
                <tbody>
                  <tr>
                    <th class="p-3 w-15" scope="row">{{ gift.gift.sku }}</th>
                    <td class="p-3 w-25">
                      {% if gift.gift.image %}
                        <img class="img-fluid rounded" src="{{ gift.gift.image.url }}" alt="{{ gift.gift.image_url }}">
                      {% else %}
                        <img class="img-fluid rounded" src="{{ gift.gift.image_url }}" alt="{{ gift.gift.image_url }}">
                      {% endif %}
                    </td>
                    <td class="p-3 w-15">{{ gift.gift.name }}</td>
                    <td class="p-3 w-10">
                      <form class="form form-edit" method="POST" action="{% url 'change_quantity' gift.gift_id %}">
                        {% csrf_token %}
                        <div class="input-group">
                          <div class="input-group-prepend">
                              <button type="button" class="decrease-id_quantity btn btn-sm btn-danger btn-number decrease-id_quantity_{{ gift.giftid }}" data-type="minus" data-gift_id="{{ gift.giftid }}" aria-labelledby="minus-quantity"><i class="fa fa-minus" aria-hidden="true"></i></button>
                          </div>
                          <input class="text-center form-control form-control-sm qty-input id_quantity_{{ gift.id }}" type="number" name="quantity" value="{{ gift.quantity }}" min="1" max="10" data-gift_id="{{ gift.gift_id}}" aria-labelledby="item-quantity-change">
                          <div class="input-group-append">
                              <button type="button" class="increase-id_quantity btn btn-sm btn-success btn-number increase-id_quantity_{{ gift.giftid }}" data-type="add" data-gift_id="{{ gift.giftid }}"  aria-labelledby="plus-quantity"><i class="fa fa-plus" aria-hidden="true"></i></button>
                          </div>
                        </div>
                      </form>
                      <a class="update-quantity text-secondary float-left qty-edit">Update Quantity</a>
                      <a class="remove-gift text-danger float-right qty-remove" id="remove_{{ gift.gift_id }}">Remove Gift</a>
                    </td>
                    <td class="p-3 w-15">{{ gift.gift.price}}</td>
                    <td class="p-3 w-15">{{ gift.gift.price | gift_subtotal:gift.quantity }}</td>
                  </tr>
                </tbody>
                {% endfor %}
              </table>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-striped summarytable">
        <caption>*Note: Delivery charges do not count towards the discount threshold of €100.</caption>
        <thead class="thead-dark">
          <tr>
            <th scope="col w-70">Order Summary</th>
            <th scope="col w-10"></th>
            <th scope="col w-20">€</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Subtotal:</td>
            <td></td>
            <td>{{ subtotal }}</td>
          </tr>
          <tr>
            <td>Less Discount:</td>
            <td><strong>-</strong></td>
            <td><u>{{ discount_amount|floatformat:2 }}</u></td>
          </tr>
          <tr>
            <td>Total</td>
            <td></td>
            <td>{{ total }}</td>
          </tr>
          <tr>
            <td>Delivery Charge*</td>
            <td><strong>+</strong></td>
            <td><u>{{ delivery|floatformat:2  }}</u></td>
          </tr>
          <tr>
            <td><strong>Amount To Pay</strong></td>
            <td></td>
            <td><strong>{{ grandtotal }}</strong></td>
          </tr>
          <tr>
            <td colspan="3" class="finalrow">
              {% if subtotal < 100 %}
              <div class="row">
                <p>Spend <strong>€{{ total_discount_difference }}</strong> more to receive a 10% discount on your order!</p>
              {% endif %}
              </div>
              <div class="row justify-content-center">
                <div class="p-3 col">
                    <a href="{% url 'gifts' %}" class="btn btn-success" role="button" aria-pressed="true"  aria-label="Giftspage"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Continue Shopping</a>
                    <a href="{% url 'purchases' %}" class="btn btn-info" role="button btn-primary" aria-pressed="true"  aria-label="Checkout"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Proceed to Checkout</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="row">
      <div class="card admin-form">
        <div class="card-header text-white bg-primary text-center">Atlas Gifts</div>
        <div class="card-body text-center">
          <h5 class="card-title text-center">Your Cart is Empty!</h5>
          <p class="card-text text-center">Click on your cart below to see our amazing Gift Range!</p>
          <a href="{% url 'gifts' %}" class="btn btn-success" role="button" aria-label="Gifts" aria-pressed="true"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Continue Shopping</a>
        </div>
      </div>
    </div>
    {% endif %}
{% endblock %}

{% block post_load_js %}
{{ block.super }}
{% include 'gifts/includes/change_quantity_script.html' %}

<script type="text/javascript">
  // Update Quantity in Cart
  $('.update-quantity').click(function(e) {
    var cartUpdate = $(this).prev('.form-edit');
    cartUpdate.submit();
  });

  $('.remove-gift').click(function(e) {
        var csrf = "{{ csrf_token }}";
        var giftRemove = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${giftRemove}/`;
        var data = {'csrfmiddlewaretoken': csrf};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>

{% endblock %}
