{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Welcome to Atlas Gifts!</h3>
                <p>At Atlas Gifts we endeavor to offer the best, coolest and unique gifts anywhere on the internet. Have a look through our carefully curated collecttion and find the perfect gift! </p>
            </div>
        </div>
        <div class="row">
            <div class="col center text-center">
                <button type="button" class="btn btn-primary btn-lg">Check Order Progress</button>
                <button type="button" class="btn btn-success btn-lg">Gift Collections</button>
                <button type="button" class="btn btn-info btn-lg">Login/ Sign Up</button>
            </div>
        </div>   
    </div>
{% endblock %}


