{% extends "base.html" %}

{% load static %}

{% block content %}
<div id="delivery-card" class="d-flex card border-primary mb-3 text-center" style="max-width: 30%;">
    <form>
        <div class="card-header">Delivery Tracker</div>
        <div class="card-body">
            <h5 class="card-title  text-primary">Please enter your details below</h5>
            <label for="orderNumber">Order Number</label>
            <input type="text" class="form-control" id="orderNumber" aria-describedby="orderNumberHelp" pattern="[A-Za-z0-9]" maxlength="16" required>
            <small id="orderNumberHelp" class="form-text text-muted">
                The order number is on the order confirmation email.
            </small>
        </div>
        <div>
            <button type="submit" class="btn btn-primary mb-2">Find my Package</button>
        </div>
    </form>
</div>
{% endblock %}