{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid text-center px-5">
    <H1>Gifts</H1>
    <h3>Add the next great gift to be sold below!</h3>
    <div class="row">
        <div class="col justify-content-center">
            <div class="card w-50 border-dark mb-2">
                <form method="POST" action="{% url 'add_gift' %}" enctype="multipart/form-data">
                    <fieldset class="px-3">
                        {% csrf_token %}
                        {{ form | crispy }}
                    </fieldset>
                    <a href="{% url 'gifts' %}" class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>
                    <button type="submit" class="btn btn-primary">Add Gift</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Gift Items displayed in Card Form //-->

{% endblock %}