{% extends "base.html" %}

{% load static %}

{% block content %}
<H1>Gifts</H1>
<h3>Find the perfect gift for your special occassion below!</h3>
{% for gift in gifts %}
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <img class="card-img-top" src={{ gift.image }} alt={{ gift.name }}>
            <div class="card-body">
                <h5 class="card-title">{{ gift.name }}</h5>
                <p class="card-text">{{ gift.description }}</p>
                <p class="card-text">€ {{ gift.price }}</p>
            </div>
            <div class="card-footer">
                <div class = "row">
                    <div class="col">
                        <small class="text-muted">{{ gift.weight }} Kg</small>
                    </div>
                    <div class="col">
                        <small class="text-muted">{{ gift.category }}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<form method="post">
    <div class="col-sm-3">
        <div class="row">
            <div class="col">        
                <p>Quantity</p>
            </div class="col">
            <div>
                <input type="number">
                <button type="button" class="btn btn-success">Add To Cart</button>
            </div>
        </div>
        
    </div>
</form>
{% endfor %}
{% endblock %}
 