{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid text-center">
    <H1>Gifts</H1>
    <div class="row">
        <h3>Find the perfect gift for your special occassion below!</h3>
    </div>
    <div class="row">
        <div class="col">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-dark" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
        </div>
        <div class="col">
            <div class="dropdown show">
                <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort By
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-istem" href="{% url 'gifts' %}?sort=price&direction=asc">Price (Low To High)</a>
                    <a class="dropdown-item" href="{% url 'gifts' %}?sort=price&direction=desc">Price (High To Low)</a>
                    <a class="dropdown-item" href="{% url 'gifts' %}?sort=name&direction=desc">Alphabetical (A To Z)</a>
                    <a class="dropdown-item" href="{% url 'gifts' %}?sort=name&direction=asc">Alphabetical (Z To A)</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gift Items displayed in Card Form //-->

{% csrf_token %}
<div class="container-fluid">
    <div class="row">
        {% for gift in gifts %}
        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="card">
                {% if gift.image %}
                <a href="{{ gift.image_url }}" target="_blank">
                    <img class="card-img-top" src="{{ gift.image }}" alt="{{ gift.name }}">
                </a>
                {% else %}
                    <img class="card-img-top" src="{{ gift.image_url }}" alt="{{ gift.name }}"> 
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ gift.name }}</h5>
                    <p class="card-text">{{ gift.description }}</p>
                    <p class="card-text">€ {{ gift.price }}</p>
                </div>
                <div class="card-footer">
                    <div class = "row">
                        <div class="col">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#infomodal-{{ forloop.counter}}">More Info</button>
                        </div>
                        <!-- Additional item information in model //-->
                        <div class="modal" id="infomodal-{{ forloop.counter}}">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <p><strong>{{ gift.name}}</strong></p>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <strong>X</strong>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="card-text">{{ gift.description }}</p>
                                    <p class="card-text">{{ gift.category|default_if_none:'' }}</p>
                                    <p class="card-text">{{ gift.weight|default_if_none:'' }}</p>
                                    <p class="card-text">€ {{ gift.price }}</p>
                                </div>
                                <div>
                                <form method="post" action="{% url 'cart_item_add' gift.id %}">
                                    {% csrf_token %}
                                    <div class="col-sm-3">
                                        <div class="row">
                                            <div class="col">        
                                                <p>Quantity</p>
                                            </div class="col">
                                            <div>
                                                <input class="form control qty-input" type="number" name="quantity" value="1" min="1" max="10" data-gift_id="{{ gift.id }}" id="id_quantity_{{ gift.id }}">
                                                <button type="submit" class="btn btn-success">Add To Cart</button>
                                            </div>
                                            <input type="hidden" name="url_redirect" value="{{ request.path }}">
                                        </div>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
{% endfor %}
{% endblock %}
 