{% extends "base.html" %}

{% load static %}

{% block content %}
<H1>Gifts</H1>
<h3>Find the perfect gift for your special occassion below!</h3>
{% for gift in gifts %}

<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <img class="card-img-top" src={{ gift.image }} alt={{ gift.name }}>
            <div class="card-body">
                <h5 class="card-title">{{ gift.name }}</h5>
                <p class="card-text">{{ gift.description }}</p>
                <p class="card-text">€{{ gift.price }}</p>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
 