{% extends "base.html" %}

{% load static %}

{% block content %}
<div id="delivery-card" class="d-flex card border-primary mb-3 text-center " style="max-width: 40%;">
    <form action="{% url 'purchases' %}" method="post" id="delivery-form">
        {% csrf_token %}
        <div class="card-header">Delivery Details</div>
        <div class="card-body">
            <h5 class="card-title  text-primary">Please enter your details below</h5>
            <fieldset class="rounded">
                <legend class="fieldset-label small text-black w-auto">Contact Details</legend>
                {{ purchase_form.name | as_crispy_field }}
                {{ purchase_form.phone | as_crispy_field }}
                {{ purchase_form.email | as_crispy_field }}
            </fieldset>
            <fieldset class="rounded">
                <legend class="fieldset-label small text-black w-auto">Address</legend>
                {{ purchase_form.address_line1 | as_crispy_field }}
                {{ purchase_form.address_line2 | as_crispy_field }}
                {{ purchase_form.address_line3 | as_crispy_field }}
                {{ purchase_form.town | as_crispy_field }}
                {{ purchase_form.postcode | as_crispy_field }}
                {{ purchase_form.country | as_crispy_field }}
            </fieldset>
        </div>
        <div>
            <!-- <fieldset class="rounded">
                <div>
                    <span>Amount to pay: €{{ total }}</span>
                    <a href="{% url 'gifts' %}" class="btn btn-success" role="button" aria-pressed="true">Continue Shopping<i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                    <legend class="fieldset-label small text-black w-auto">Payment Details</legend>
                    <button type="submit" class="btn btn-primary">Pay</button>
                </div>
            </fieldset> -->
            <fieldset class="px-3">
                <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                <div class="mb-3" id="card-payment"></div>
                <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
            </fieldset>
            <fieldset class="px-3">
                <button type="submit" id="stripe-submit" class="btn btn-md btn-primary">Pay Now</button>
            </fieldset>
        </div>
    </form>
</div>
    {% block postloadjs %}
        {{ block.super }}
        {{ stripe_public_key|json_script:"public_key_id" }}
        {{ stripe_secret_key|json_script:"secret_key_id" }}
        <script src="{% static 'purchases/js/stripe.js' %}"></script>
    {% endblock %}
{% endblock %}

