/* HTML & Body */

html {
    height: 100%;
}

body {
    background-image: url('/media/home_page.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

/* Discount Banner */

.bg-green {
    background: #0edb07 !important;
}

/* Footer */

footer {
    background-color: #083d77;
    text-align: center;
    align-content: center;
    font-size: 20pt;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.fab {
    color: #ffffff;
    font-size: 20pt;
    margin: 5px;
}

/* Image Overlay Container */

.overlay {
    background: white;
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Cart Summary */

.finalrow {
    text-align:center;
}

.summarytable {
    width: 50%;
    margin: auto;
    border: 2px black;
}



#cartarea {
    color: black;
    font-size: 25pt;
    margin: 5pt;
    justify-content: right;
}

#shopping-cart {
    width: 80%;
    margin: 10px;
}

.btn {
    border-radius: 10px;
    color: white;
}

#delivery-card {
    top: 5px;
    margin: auto;
    margin-left: 20%;
    margin-right: 20%;
    padding: 2px;
}

#gift-card {
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}

/* Toast Messages */

.toast-container {
    z-index: 100;
    top: 0px;
}

/* Home Page */

.welcome {
    padding-top: 10px;
}

.reasons {
    background-color: #ffffff;
    padding-bottom: 75px;
    min-height: fit-content;
    width: 100%;
    opacity: 0.8;
}

.home-icons {
    padding-left: 30px;
    padding-right: 30px;
}

.fa-heart {
    color: #C41C1F;
}

.fa-star {
    color: #e1d11f;
}

.fa-map-marker {
    color: #0edb07;
}


#carouselControls {
    text-align: center; 
    background-color: #283747;
    width: auto;
    opacity: 0.8;
    min-height:20vh;
    padding-bottom: 50px;
}

.order-summary {
    padding-top: 5px;
    margin: auto;
    width: 50%;
}

/* Forms */

.admin-form {
    top: 5px;
    bottom: 5px;
    width: 70%;
}

.contact-form {
    top: 5px;
    bottom: 5px;
    margin: auto;
    width: 60%;
}

.searcharea {
    padding-top: 10px;
    border-width: 15px;
    padding-bottom: 20px;
}

.allauth-form {
    margin: 10px;
}

/* Payment Processing */

#payment-processing-overlay {
    display: none;
    background: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #083d77;
}

.processing-spinner {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Blog Text & Images */

.blog-post {
    margin: auto;
    width: 75%;
}

.blog-image {
    height: 70vh;
}

/* Media Queries - Small Screens */

@media only screen and (max-width: 600px) {
    .blog-post {
        margin: auto;
        width: 90%;
        padding: 2px;
    }

    .btn {
        border-radius: 5px;
        padding: 5px;
        color: white;
    }

    footer {
        font-size: 10pt;
    }

    .order-summary {
        width: 80%;
    }

    p {
        font-size: 12pt;
    }
}

/* Media Queries - Medium Screens */

@media only screen and (min-width: 601px) and (max-width: 800px)  {
    .blog-post {
        width: 80%;
    }

    .order-summary {
        width: 70%;
    }

    p {
        font-size: 13pt;
    }
}

/* Media Queries - Large Screens */

@media only screen and (min-width: 801px) {
    p {
        font-size: 14pt;
    }
}