body {
    font-family: 'Roboto', sans-serif;
}

footer {
    background-color: #083d77;
    color: #ffffff;
    text-align: center;
    align-content: center;
    font-size: 20pt;
    bottom: 0px;
}

.fab {
    color: #ffffff;
    font-size: 20pt;
    margin: 5px;
}

#cartarea {
    color: black;
    font-size: 25pt;
    margin: 5pt;
    justify-content: right;
}

#shopping-cart {
    width: 80%;
    margin: 10px;
}

.btn {
    border-radius: 10px;
    padding: 10px;
    color: white;
}

#delivery-card {
    justify-content: center;
    margin-left: 20%;
    margin-right: 20%;
}

#gift-card {
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
}