footer {
    background-color: #083d77;
    color: #ffffff;
    text-align: center;
}

.fab {
    color: #ffffff;
    font-size: 20pt;
    margin: 5px;
}

#cartarea {
    background-color: #11844A;
    color: black;
    font-size: 25pt;
    margin: 5pt;
    justify-content: right;
}

#shopping-cart {
    width: 80%;
    outline-color: #11844A;
    margin: 10px;
}