{% extends "base.html" %}

{% load static %}

{% block content %}

<div class="d-flex card border-primary mb-3 text-center " style="max-width: 40%;">
  <div class="card-header">
    <h5><strong>Order Confirmation</strong></h5>
  </div>
  <div class="card-body">
    <h5 class="card-title">Order Number: {{ customer_order.order_number }}</h5>
    <p>Thank you for shopping with us today!</p>
    <p class="card-text">Click on your cart below to see more of our amazing Gift Range!</p>
    <a href="{% url 'gifts' %}" class="btn btn-success" role="button" aria-pressed="true"><i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
  </div>
</div>


<div class="order-summary">
  <div class="card">
    <div class="card-header">
      <h5 class="text-center">Order Summary</h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5>Amount Charged:</h5>
        </div>
        <div class="col">
          <h5>€ {{ grandtotal }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="contact-summary">
  <div class="card">
    <div class="card-header">
      <h5 class="text-center">Contact Details</h5>
    </div>
  </div>
</div>
{% endblock %}

