{% extends "base.html" %}

{% load static %}

{% block extra_css %}

{% endblock %}

{% block content %}
<div class="overlay"></div>
<div id="delivery-card" class="d-flex card border-primary mb-3 text-center">
    <form action="{% url 'purchases' %}" method="POST" id="delivery-form">
        {% csrf_token %}
        <div class="card-header">Delivery & Payment Form</div>
        <div class="card-body">
            <h5 class="card-title text-primary">Please enter your details below</h5>
            <p class="text-danger"><small>Fields marked with a * are required</small></p>
            <fieldset class="rounded">
                {{ purchase_form.name | as_crispy_field }}
                {{ purchase_form.phone | as_crispy_field }}
                {{ purchase_form.email | as_crispy_field }}
            </fieldset>
            <fieldset class="rounded">
                {{ purchase_form.address_line1 | as_crispy_field }}
                {{ purchase_form.address_line2 | as_crispy_field }}
                {{ purchase_form.address_line3 | as_crispy_field }}
                {{ purchase_form.town | as_crispy_field }}
                {{ purchase_form.postcode | as_crispy_field }}
                {{ purchase_form.country | as_crispy_field }}
                <div class="form-check form-check-inline">
                    {% if user.is_authenticated %}
                        <label class="form-check-label" for="personal-info">Do you wish for your details to be saved to your profile?</label>
                        <input class="form-check-input" type="checkbox" id="personal-info" name="personal-info" checked>
                    {% else %}
                        <label class="form-check-label" for="personal-info">If you wish to have your details saved for paying faster please either:
                            <a class="nav-link" href="{% url 'account_login' %}">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></a> Or
                            <a class="nav-link" href="{% url 'account_signup' %}">Register <i class="fas fa-user-plus"></i></a>
                        </label>
                    {% endif %}
                </div>
            </fieldset>
        </div>
        <div>
            <fieldset class="px-3">
                <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                <div class="mb-3" id="card-payment"></div>
                <div class="mb-3 text-danger" id="card-error" role="alert"></div>
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
            </fieldset>
            <div>
                <p><strong>Amount to Pay: €{{ grandtotal }}</strong><small> (incl. delivery charge)</small></p>
            </div>
            <fieldset class="px-3">
                <a href="{% url 'gifts' %}" class="btn btn-success" role="button" aria-pressed="true"> Continue Shopping <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                <button type="submit" id="stripe-submit" class="btn btn-md btn-primary">Pay Now <i class="fa fa-credit-card" aria-hidden="true"></i></button>
            </fieldset>
        </div>
    </form>
</div>
<div id="payment-processing-overlay">
    <h1 class="processing spinner text-light">
        <span>
            <i class="fas fa-spinner fa-pulse"></i>
        </span>
        Please do not refresh your page. Your payment is currently being processed.
    </h1>
</div>
    {% block postloadjs %}
        {{ block.super }}
        {{ stripe_public_key|json_script:"public_key_id" }}
        {{ client_secret|json_script:"client_secret" }}
        <script src="{% static 'purchases/js/stripe.js' %}"></script>
    {% endblock %}
{% endblock %}

