<footer>
    <H1>Atlas Gifts</H1>
    <a href="https://www.facebook.com/" target="_blank" rel="nofollow"><i class="fab fa-facebook-square"></i></a>
    <a href="https://www.twitter.com/" target="_blank" rel="nofollow"><i class="fab fa-twitter-square"></i></a>
    <a href="https://www.instagram.com/" target="_blank" rel="nofollow"><i class="fab fa-instagram-square"></i></a>
    <a href="https://www.youtube.com/" target="_blank" rel="nofollow"><i class="fab fa-youtube"></i></a>
    <a href="https://www.tiktok.com/" target="_blank" rel="nofollow"><i class="fab fa-tiktok"></i></a>
</footer>