<footer>
    <div class="footer-icons">
        <div class="row">
            <div class="col text-light">
                <h4>Follow Atlas Gifts On: </h4>
            </div>
            <!-- Social Media Icons -->
            <div class="col">
                <a href="https://www.facebook.com/" target="_blank" rel="nofollow" aria-label="Facebook"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.twitter.com/" target="_blank" rel="nofollow" aria-label="Twitter"><i class="fab fa-twitter-square"></i></a>
                <a href="https://www.instagram.com/" target="_blank" rel="nofollow" aria-label="Instagram"><i class="fab fa-instagram-square"></i></a>
                <a href="https://www.youtube.com/" target="_blank" rel="nofollow" aria-label="Youtube"><i class="fab fa-youtube"></i></a>
                <a href="https://www.tiktok.com/" target="_blank" rel="nofollow" aria-label="Tiktok"><i class="fab fa-tiktok"></i></a>
            </div>
        </div>
    </div>
</footer>