{% extends "base.html" %}

{% load static %}

{% block content %}

  <div class="overlay"></div>
  {% if request.user.is_authenticated %}
  {% if request.user.is_superuser %}
    <div class="card admin-form">
      <div class="card-header bg-success text-white">
        <h2 class="text-center">Create New Entry</h2>
      </div>
      <div class="card-body">
        <p class="text-center">Advice: Try to be fun, interesting & creative</p>
        <form method="POST" action="{% url 'create_post' %}">
          {% csrf_token %}
          {{ form.title | as_crispy_field }}
          {{ form.body | as_crispy_field }}
          {{ form.created_by | as_crispy_field }}
          {{ form.image_url | as_crispy_field }}
          {{ form.image | as_crispy_field }}
          <a href="{% url 'blog' %}" class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>
          <button type="submit" class="btn btn-primary">Create</button>
        </form>
      </div>
    </div>
  {% endif %}
  {% endif %}
{% endblock %}