{% extends "base.html" %}

{% load static %}

{% block content %}

  <div class="overlay"></div>
  {% if request.user.is_authenticated %}
  {% if request.user.is_superuser %}
    <div>
      <h2>Edit Post</h2>
      <p>Notes: Try to be fun,interesting & creative</p>
      <form method="POST" action="{% url 'edit_blog' blog_id=post.id %}">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'blog' %}" class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>
        <button type="submit" class="btn btn-primary">Update Post</button>
      </form>
    </div>
  {% endif %}
  {% endif %}
{% endblock %}