{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="overlay"></div>
<div class="row">
  <div class="col">
    <h2 class="text-center">Atlas Gifts Blog Posts
      <div class="dropdown">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort By
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'blog' %}?sort=posted_date&direction=desc">Newest To Oldest</a>
          <a class="dropdown-item" href="{% url 'blog' %}?sort=posted_date&direction=asc">Oldest To Newest</a>
          <a class="dropdown-item" href="{% url 'blog' %}?sort=title&direction=asc">Alphabetical (A To Z)</a>
          <a class="dropdown-item" href="{% url 'blog' %}?sort=title&direction=desc">Alphabetical (Z To A)</a>
        </div>
      </div>
    </h2>
  </div>
</div>
{% if request.user.is_authenticated %}
{% if request.user.is_superuser %}
<div>
  <h2 class="text-center">Create New Entry <a class="btn btn-success" href="{% url 'create_post' %}" role="button">Write a New Post! <i class="fa fa-pencil-square" aria-hidden="true"></i></a></h2>
</div>
{% endif %}
{% endif %}
{% for post in posts %}
  <div class="d-flex card border-primary mb-3 text-center blog-post">
    <div class="card-header text-left">
      <h1 class="card-title">{{ post.title }}</h1>
      {% if request.user.is_authenticated %}
      {% if request.user.is_superuser %}
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group" role="group" aria-label="Edit group">
            <a class="btn btn-success" href="{% url 'edit_blog' blog_id=post.id %}" role="button">Edit this Post! <i class="fa fa-pencil" aria-hidden="true"></i></a>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="Delete group">
            <a class="btn btn-danger" href="{% url 'delete_blog' blog_id=post.id %}" role="button">Delete <i class="fa fa-trash" aria-hidden="true"></i></a>
          </div>
        </div>
        {% endif %}
        {% endif %}
      <p class="card-text"><small class="text-muted">Posted on {{ post.posted_date }} by {{ post.created_by }}</small></p>
    </div>
    {% if post.image %}
      <a href="{{ post.image_url }}" target="_blank">
          <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
      </a>
    {% elif post.image_url %}
      <img class="card-img-top blog-image" src="{{ post.image_url }}" alt="{{ gift.title }}">
    {% else %}
    {% endif %}
      <div class="card-body">
        <p class="card-text">{{ post.body }}</p>
      </div>
  </div>
  {% empty %}
    <div class="row">
      <div class="card admin-form">
        <div class="card-header text-white bg-primary text-center">Atlas Gifts Blog</div>
        <div class="card-body">
          <h5 class="card-title text-center">We're Sorry...</h5>
          <p class="card-text text-center">We have deleted our older content and are in the process of writing new articles</p>
          <p class="card-text text-center">We hope to have some new content very soon!</p>
        </div>
      </div>
    </div>
{% endfor %}
{% endblock %}